@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Estudo ASP.NET Core / Docker</h2>
    <p>Essa aplicação foi desenvolvida a partir da adaptação do curso <a href="https://app.balta.io/courses/1939"> https://app.balta.io/courses/1939 </a>.</p>
</div>
